/* Για την περίπτωση χωρίς αποτελέσματα */
.search-no-results {
    height: 100vh;
    background: linear-gradient(#eceff184, #37474f);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Για την περίπτωση με αποτελέσματα */
.search-with-results {
    height: 200vh;
    background: linear-gradient(#eceff184, #37474f);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchForm {
    width: 30%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.search-bar label {
    font-size: 16px;
    font-weight: bold;
    color: #455a64;
}

.searchAreaName {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #b0bec5;
    background-color: white;
    padding: 5px;
    font-size: 15px;
    color: #455a64;
}

.searchSubmit {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.searchSubmitButton {
    margin-top: 10px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #455a64;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchSubmitButton:hover {
    background-color: #546e7a;
}

.searchSubmitButton:active {
    transform: translateY(0.1em);
}

.searchError {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.searchResults {
    width: 100%;
    margin-top: 20px;
}

.searchResultsTitle {
    font-size: 18px;
    font-weight: bold;
    color: #263238;
    text-align: center;
}

.resultsTableWrapper {
    width: 90%;
    max-height: 700px;
    overflow-y: auto;
    border: 1px solid #263238;
    margin-top: 15px;
    margin: 20px auto;
    border-radius: 10px;
    background: white;
}

.resultsTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.resultsTable th,
.resultsTable td {
    padding: 10px;
    border: 1px solid #b0bec5;
}

.resultsTable th {
    background-color: #263238;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 2;
}

.resultsTable td {
    background-color: #78909c;
    color: white;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.pagination button {
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #455a64;
    color: white;
    transition: all 0.3s ease;
}

.pagination button:hover {
    background-color: #546e7a;
}

.pagination button:active {
    transform: translateY(0.1em);
}

.pagination button.active {
    background-color: #263238;
    color: white;
    font-weight: bold;
    transform: scale(1.1);
}

.pagination button:disabled {
    background-color: #b0bec5;
    cursor: not-allowed;
}