.query4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.query4Box {
    width: 50%;
    height: 40%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.744);
    /* Semi-transparent background */
    border-radius: 15px;
    /* Rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Shadow for depth */
    backdrop-filter: blur(10px);
    /* Blur effect on the background */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Subtle border */
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 50px;
}

.query4Up, .query4Down, .query4Middle {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.query4Desc {
    font-size: 15px;
    font-weight: 700;
    margin-top: -20px;
    color: #455a64;
}

.query4Line {
    width: 80%;
    /* Full width of the container */
    height: 1px;
    /* Thin line */
    background-color: #263238;
    /* Light gray color */
    margin: 10px 0;
    /* Add spacing above and below the line */
    border: none;
}

.query4Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: -10px;
    gap: 40px;
}

.startDate,
.endDate {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.endDate,
.startDate label {
    font-size: 15px;
    font-weight: 700;
    color: #455a64;
}

.startDateInput,
.endDateInput {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #455a64;
    font-size: 15px;
    font-weight: 800;
}

.query4SubmitButton {
    margin-top: 10px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #455a64;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.query4SubmitButton:hover {
    background-color: #546e7a;
}

.query4SubmitButton:active {
    transform: translateY(0.1em);
}

.query4ResultsTitle {
    color: #263238;
}

.Res4{
    color: #263238 ;
}

.query4Error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}