.query12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.query12Box {
    width: 50%;
    height: 40%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.744);
    /* Semi-transparent background */
    border-radius: 15px;
    /* Rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Shadow for depth */
    backdrop-filter: blur(10px);
    /* Blur effect on the background */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Subtle border */
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 50px;
}

.query12Up,
.query12Down,
.query12Middle {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.query12Desc {
    font-size: 15px;
    font-weight: 700;
    margin-top: -20px;
    color: #455a64;
}

.query12Line {
    width: 80%;
    /* Full width of the container */
    height: 1px;
    /* Thin line */
    background-color: #263238;
    margin: 10px 0;
    /* Add spacing above and below the line */
    border: none;
}

.query12Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: -10px;
    gap: 40px;
}

.startTime,
.endTime {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.endTime,
.startTime label {
    font-size: 15px;
    font-weight: 700;
    color: #455a64;
}

.startTimeInput,
.endTimeInput {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #455a64;
    font-size: 15px;
    font-weight: 800;
}

.query12SubmitButton {
    margin-top: 10px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #455a64;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.query12SubmitButton:hover {
    background-color: #546e7a;
}

.query12SubmitButton:active {
    transform: translateY(0.1em);
}

.resultsTableWrapper {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #263238;
    margin-right: 90px;
}

.resultsTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.resultsTable th,
.resultsTable td {
    padding: 10px;
    border: 1px solid #b0bec5;
}

.resultsTable td {
    background-color: #78909c;
}

.resultsTable th {
    background-color: #263238;
    font-weight: bold;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 2;
}

.query12ResultsTitle {
    color: #263238;
}

.query12Error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}